= render partial: "images/header"
.pickup-container7
  .comment_box__title お知らせ
  - @comments.each do |comment|
    .comment_box
      .comment_box_date #{comment.created_at.strftime('%Y/%m/%d')}
      .comment_box_body 
        = simple_format(comment.comment)

= render partial: "images/footer"