= render partial: "images/header"
.pickup-container5
  %iframe{:frameborder => "0", :height => "600", :scrolling => "no", :src => "https://calendar.google.com/calendar/embed?src=vp1udo8o0r2k8mhvm50vq4lrv0%40group.calendar.google.com&ctz=Asia%2FTokyo", :style => "border: 0", :width => "800"}
  %p.attention ※※※ ご注意ください ※※※</br>翌月の予定は当月２０日前後（お知らせ送信後）に確定となります。
= render partial: "images/footer"