= render partial: "images/header"
.pickup-container5
  %iframe{:frameborder => "0", :height => "600", :scrolling => "no", :src => "https://calendar.google.com/calendar/embed?src=vp1udo8o0r2k8mhvm50vq4lrv0%40group.calendar.google.com&ctz=Asia%2FTokyo", :style => "border: 0", :width => "800"}
= render partial: "images/footer"