= render partial: "images/header"
.pickup-title
  .pickup-head
    すきなきもち</br>
    たのしいきもち</br>
    みんなで共有しよう</br>
.pickup-container
  JOYLESSON は【ならいごと】を応援するアプリです。</br>
  すき・たのしいを大切に。より豊かな毎日を。
.intoroboxs 
  .intorobox1 記録をつけてみよう
  .intorobox2 みんなの作品をみてみよう
  .intorobox3 交流してみよう


  
= render partial: "images/footer"