.pickup-container3 {
  background-color: #fbf8e9;
  text-align: center;
  margin:0 auto;
}

.pickup_user_name {
  text-align: center;
  height: 110px;
  font-size: 25px;
  padding: 50px;
  color: #af4d4d;
}

img.album_image {
  height: 180px;
  width: 210px;
  margin: 30px 50px;
}

.album-text-box{
  padding: 0 0 40px 0;
  color: black;
}

.album-box {
  display: inline-block;
}

.picture-button {
  font-size: 20px;
  padding: 0 0 50px;
  text-align: center;
}