h5.comment-form {
  padding: 20px;
}

textarea#body {
  width: 750px;
  height: 100px;
  display: block;
  margin: auto;
  background-color: white;
  border-radius: 10px;
  border-color: lightgray;
}

textarea#comment_comment {
  width: 90%;
  border-color: #54313d;
  background-color: #fbfaf4;
  height: 100px;
}

input.form_sent {
  margin: 30px;
  height: 50px;
  width: 130px;
  background-color: #8bc34a;
  color: white;
  cursor: pointer;
}