.pickup-title{
  font-size: 30px;
  background-color: #fdfbf2;
  border-radius: 8px;
  text-align: center;
  width: 300px;
  margin: 20px auto;
  .pickup-head {
    font-size: 20px;
    color: #fff;
    background: #ffd4b9;
    border-radius: 230px;
    text-align: center;
    height: 300px;
    margin: 80px auto;
  }
}
