.pickup-title{
  font-size: 30px;
  background-color: #fdfbf2;
  border-radius: 8px;
  text-align: center;
  width: 450px;
  margin: 100px auto 60px;
  height: 440px;
  .pickup-head {
    font-size: 30px;
    color: #fff;
    background: #ffd4b9;
    border-radius: 230px;
    text-align: center;
    padding: 156px 80px;
    height: 440px;
  }
}
.pickup-container {
  text-align: center;
  margin: 0 auto;
  padding: 0px 113px 50px;
  color: brown;
  font-size: 18px;
}

.intoroboxs{
  margin: 0 174px 50px;
} 
.intorobox1{
  width: 310px;
  height: 106px;
  font-size: 17px;
  color: #847776;
  margin: 5px;
  padding: 40px;
  display: inline-block;
  text-align: center;
  background: rgba(248, 211, 142, 0.993);
  border-radius: 20px;
}
.intorobox2{
  width: 360px;
  height: 106px;
  font-size: 17px;
  color: #847776;
  margin: 5px;
  padding: 40px;
  display: inline-block;
  text-align: center;
  background: rgb(240, 248, 166);
  border-radius: 20px;
}
.intorobox3{
  width: 310px;
  height: 106px;
  font-size: 17px;
  color: #847776;
  margin: 5px;
  padding: 40px;
  display: inline-block;
  text-align: center;
  background: rgb(197, 245, 158);
  border-radius: 20px;
}