.pickup-title{
  height: 100px;
  background-color: #fbf8e9;
  position: relative;
}

.pickup-container {
  background-color: #fbf8e9;
  text-align: center;
  margin:0 auto;
  padding: 40px 112px 40px;
  display: flex;
}

.pickup-head {
  position: absolute;
  font-size: 30px;
  color: #fff;
  border: 2px dashed #ffecef;
  background: #ffd4b9;
  border-radius: 8px;
  box-shadow: 0 0 3px 3px #f9c7b8;
  text-align: center;
  width: 500px;
  bottom: 10px;
  right: 0px;
  left: 0px;
  margin: auto;
  height: 50px;
}

.item-box {
  margin:0 auto;
  float: left;
  margin: 7px;
  position: relative;
  height: 100px;
  width: 100px;
  background-color: white;
  text-align: left;
  border-radius: 80px;
}
img.work_image {
  width: 100px;
  height: 100px;
  position: absolute;
  max-width: 100%;
  object-fit: cover;
  transform: rotate(90deg);
  border-radius: 80px;
  transition: all 0.8s linear;
  border: solid 5px;
  color: #f7eacd;
}
img.work_image:hover {
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -o-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2) rotate(90deg);
}




a {
  text-decoration: none;
  color: #333333;
  .item-box-text {
    position: absolute;
    bottom: 5px;
    width: 170px;
    height: 60px;
    padding: 10px;
    .text-box {
      position: relative;
      height: 3em;
      line-height: 1.5;
      overflow: hidden;
      bottom: 5px;
      h4 {
        font-size: 14px;
        font-weight: 400;
        word-wrap: break-word;
        color: rgb(58, 56, 56);
      }
    }
    .nice {
      position: absolute;
      bottom: 12px;
      right: 18px;
      font-size: 16px;
    }
  }
  .view-all {
    clear:both;
    padding: 20px 0 30px;
    margin:0 auto;
    width: 932px;
    text-align: right;
    a {
      font-size: 14px;
      text-decoration: none;
    }
  }
}
