.pickup-container2{
  background-color: #fdfbf2;
  height: 700px;
  position: relative;
}
.pickup_image_box {
  background-color: #fdfbf2;
  height: 600px;
  width: 650px;
}

.pickup-image{
  position: absolute;
  width: 35%;
  -o-object-fit: cover;
  -webkit-transform: rotate(90deg);
  top: 150px;
  left: 230px;
  margin: auto;
  border: 20px solid #ef775d;
}
.pickup_data{
  color: rgb(29, 28, 28);
  font-size: 20px;
  padding: 40px 30px;
  height: 489px;
  width: 450px;
  background-color: white;
  position: absolute;
  top: 91px;
  border-radius: 60px;
  right: 177px;
  text-align: center;
}
p.date_title {
  font-size: 25px;
  font-weight: bold;
  color: #962929;
}

.pickup_user_album_name {
  position: absolute;
  bottom: 146px;
  right: 224px;
  font-size: 20px;
}