.pickup-container2{
  background-color: #fdfbf2;
}

.pickup_image_box {
  margin: 100px auto ;
  text-align: center;
  background-color: #fdfbf2;
}

.pickup-image{
  width: 350px;
  border: 20px solid #ef775d;
}
.pickup_data{
  color: rgb(29, 28, 28);
  font-size: 20px;
  padding: 40px 30px;
  margin: 50px;
  background-color: white;
  border-radius: 60px;
  text-align: center;
}
p.date_title {
  font-size: 25px;
  font-weight: bold;
  color: #962929;
}

.pickup_user_album_name {
  font-size: 20px;
  margin: 0 0 50px;
  text-align: center;
}

.pickup_user_delete {
  padding: 15px 20px;
  text-align: right;
}