.pickup-container5 {
  background-color: #fbf8e9;
  text-align: center;
  margin:0 auto;
  height: auto;
}
.ribbon-menu{
  padding: 50px;
  text-align: center;
}

.green-ribbon {
  display: inline-block;
  position: relative;
  height: 60px;
  line-height: 60px;
  text-align: center;
  padding: 7px 0;
  font-size: 18px;
  background: #acd879;
  color: #FFF;
  box-sizing: border-box;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.25);
  cursor: pointer;
}

h3.green-submanu {
  font-size: 25px;
  margin: 0;
  padding: 0 30px;
  border-top: dashed 2px rgba(255, 255, 255, 0.5);
  border-bottom: dashed 2px rgba(255, 255, 255, 0.5);
  line-height: 42px;
}

.green-ribbon:before, .green-ribbon:after {
  position: absolute;
  content: '';
  width: 0px;
  height: 0px;
  z-index: 1;
}
