.content
%footer.page-footer1
  .container
    .row
      .col.l6.s12
        %h6.white-text © Products by 筆のじかん
        %p.grey-text.text-lighten-4 
      .col.l4.offset-l2.s12
        %h9.white-text 【Link】
        %ul
          %li
            %a.white-text.text-lighten-3{:href => "https://tokaishi-shodo.weebly.com/"}   筆のじかんホームページ
  -# .footer-copyright
  -#   .under_container
  -#     Products by ふでのじかん
  -#     %a.grey-text.text-lighten-4.right{:href => "#!"} More Links
