%nav.nav-extended.light-green
  .nav-wrappers
    %a.class-logo{href: "/"} きょうしつのサイト
    %a.sidenav-trigger{"data-target" => "mobile-demo", :href => "#"}
      %i.material-icons menu
    %ul#nav-mobile.right.hide-on-med-and-down
      - if user_signed_in?
        %li
          .button
        %li
          %a{href: "/users/sign_out" ,method: "delete"} ログアウト
      -else
        %li
          %a.button2{href: "/users/sign_up"} 新規登録
        %li
          %a.button2{href: "/users/sign_in",method: :post} ログイン
      
  .nav-content
    %ul.tabs.tabs-transparent
      %li.tabu
        %a{:href => "#test1"} お知らせ
      %li.tabu
        %a{:href => "#test2"} おけいこ日
      %li.tabu
        %a{href: "/users/album"} アルバム
      %li.tabu
        %a{:href => "#test4"} 進級管理
