%nav.nav-extended
  .nav-wrappers
    %a.class-logo{href: "/"} JOY LESSON
    .class-sublogo たのしいを共有しよう !
  .content
  .nav-content
    %ul.tabs.tabs-transparent
      %li.tabu
        %a{href: "/images"} しゃしん
      %li.tabu
        %a{href: "/comments"} お知らせ
      %li.tabu
        %a{href: "/schedules"} お稽古日
      %li.tabu
        %a{href: "/managements"} 先生管理
        -# %li.tabu2
    -# %ul#nav-mobile.right.hide-on-med-and-down
      -# - if user_signed_in?
      -#   %li.tabu2
      -#     %a(style="display: none;")
      -#   %li.tabu2
      -#     %a{href: "/users/sign_out" ,method: "delete"} ログアウト
      -# -else
      %li.tabu2
        %a{href: "/managements"} 先生管理
        -# %li.tabu2
        -#   %a{href: "/users/sign_in",method: :post} ログイン
