%nav.nav-extended
  .nav-wrappers
    %a.class-logo{href: "/"} JOY LESSON
    .class-sublogo たのしいを共有しよう !
  .content
  .nav-content
    %ul.tabs.tabs-transparent
      %li.tabu
        %a{href: "/images"} しゃしん
      %li.tabu
        %a{href: "/comments"} お知らせ
      %li.tabu
        %a{href: "/schedules"} お稽古日
      %li.tabu
        %a{href: "/managements"} 先生管理
