.main-title
= render partial: "header"
.pickup-head
.comment_box__title みんなのしゃしん
.image-container
  .item-boxs
    - @users.each do |user|
      = render partial: 'images/image-box', locals: {user:user}
= render partial: "footer"
