= render partial: "header"
.pickup-title
  .pickup-head
    みんなのしゃしん
.pickup-container
  .item-boxs
    - @users.each do |user|
      = render partial: 'images/image-box', locals: {user:user}
= render partial: "footer"
