= render partial: "images/header"
.pickup-container5
  .ribbon-menu
    = link_to new_image_path, class: "green-ribbon" do
      %h3.green-submanu 作品アップロード
  .ribbon-menu
    = link_to "https://calendar.google.com/calendar/r/month", target: :_blank, class: "green-ribbon" do
      %h3.green-submanu スケジュール管理
  .ribbon-menu
    .green-ribbon
      %h3.green-submanu お知らせ入力

= render partial: "images/footer"